@import '../../assets/scss/model.scss';

.first-page-user {
    position: relative;

    .container {
        

        .bottom {
            width: 100%;
            box-sizing: border-box;
            margin-top: 20px;
            .section{
                width: 100%;
                box-sizing: border-box;
                .sub{
                    color: gray;;
                }
            }
            .boarder {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 12px;
                box-sizing: border-box;

                .button-div {
                    button {
                        @include normalButton();
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 12px;
                    }
                }
            }

        }
    }


    @media screen and (max-width:700px) {
        .container {
            .bottom {
                .boarder {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
    @media screen and (max-width:450px) {
        .container {
            .bottom {
                .boarder {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}